logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.log

*.log

*.01

*.04

*.properties

*.xml

Project_RiskGame/project/target/streams/compile/dependencyClasspath/$global/streams/export

*.png

*.scala

*.class
