<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
  .navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px; color: white;
  }

  .navbar {min-height:30px !important;}

  header {
    width: 100%;
    height: 30px;
    background: #2d6277;
    position: fixed;
    top: 0;
  }

  </style>

  <script>

function speciallogout()
    {
       // $("#errormsg").hide();
        //debugger;

        var password = $('#password').val();
        var username = $('#username').val();

        var obj = {

            "username": username,
            "password": password
        };


        $.ajax({
            type: 'POST',
            url: '@routes.LoginController.login()',
            // data : JSON.stringify(obj),
            data: JSON.stringify(obj),
            async: false,
            cache: false,
            // dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                // alert(data);
                if(data=="success") {
                   // resetForm($('#registerform'));
                    $("#dashform").submit()
                    //$('#dashlink').click();
                    //swal("Registration Successful!", "Now you can login!", "success");
                    //window.location.href = "#tologin";
                }
                else
                {
                    swal("OOPS!",data, "error");
                }
                // alert(data);
                // $.('#id').val(data);
                //setError('Call succedded');
                //$('#test1').attr("src", data)
            },
            error: function (data) {
                alert("error");
                //setError('Make call failed');
            }
        });
    }

  </script>
  
</head>
<body>
  <header>

    <a class="navbar-brand" href="#">Risk Game</a>
    <ul class="nav navbar-nav">

      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Signed in as
     </a></li>
      <li><a href="#" id="uname">
      </a></li>
      <script> 
            document.getElementById("uname").innerHTML=sessionStorage.getItem("username");
      </script>
      <li> <a href="/logout" >PIGOUT</a></li>
/*
<script type="text/javascript">
function myFunction(myMessage) {
    alert(myMessage);
}
</script>

<a href="javascript:speciallogout()">My link</a>

*/
      <li>&nbsp;&nbsp;&nbsp;</li>
      </ul>
    <br>

    </header>
</body>
</html>